@keyframes sub-float {
    0% {
        transform: translateX(0px) rotate(-8deg);
    }

    25% {
        transform: translateX(-20px) rotate(0deg);
    }

    50% {
        transform: translateX(0px) rotate(8deg);
    }

    75% {
        transform: translateX(20px) rotate(0deg);
    }

    100% {
        transform: translateX(0px) rotate(-8deg);
    }
}

.sub-float {
    animation: sub-float 8s linear infinite;
}