.App {
  text-align: center;
  
}

.water {
  background-color: #1e489c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hull {
  position: fixed;
  right: 20px;
  top: 18px;
  width: 240px;

  &__frame {
    color: white;
    position: absolute;
    top: 0;
    outline: 1px solid white;
    width: 240px;
    height: 24px;
  }

  &__bar {
    width: 240px;
    height: 24px;
    background-color: rgb(126, 126, 126);
  }
}

.power {
  position: fixed;
  right: 20px;
  top: 56px;
  width: 240px;

  &__frame {
    color: white;
    position: absolute;
    top: 0;
    outline: 1px solid white;
    width: 240px;
    height: 24px;
  }

  &__bar {
    top: 56px;
    height: 24px;
    background-color: rgb(148, 0, 0);
  }
}

.oxygen {
  position: fixed;
  right: 20px;
  top: 96px;
  width: 240px;

  &__frame {
    color: white;
    position: absolute;
    top: 0;
    outline: 1px solid white;
    width: 240px;
    height: 24px;
  }

  &__bar {
    width: 240px;
    height: 24px;
    background-color: rgb(89, 163, 212);
  }
}