@import './Animation.scss';

.App {
  text-align: center;

}

.water {
  background-color: #1e489c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hidden {
  display: none;
}

.bar {
  position: fixed;
  width: 300px;

  &.hull {
    right: 20px;
    top: 18px;

    .bar__fill {
      background-color: rgb(187, 0, 0);
    }
  }

  &.power {
    right: 20px;
    top: 56px;

    .bar__fill {
      background-color: rgb(250, 185, 21);
    }
  }

  &.oxygen {
    right: 20px;
    top: 96px;

    .bar__fill {
      background-color: rgb(89, 163, 212);
    }
  }

  &__frame {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    outline: 2px solid white;
    border-radius: 15px;
    width: 300px;
    height: 24px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
  }

  &__fill {
    width: 300px;
    height: 24px;
    border-radius: 15px;
    transition: .2s width ease-in;
  }
}
